@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: DM Sans, sans-serif;
	--font-serif: Arvo, serif;

	--color-background-1: #0a0c10;
	--color-background-2: #07080c;

	--color-text-primary: #ededed;
	--color-text-secondary: #a1a1a1;
	--color-text-accent: rgb(127, 157, 201);

	--color-item-background: #1a1c20;
	--color-item-background-hover: #25272c;
	--color-item-background-active: #2f3238;
	--color-oneoff-extrablue: #6baed6;
}

@layer utilities {
	/* The html element */
	:root {
		@apply bg-gray-800;
		@apply text-text-primary;
	}
}

@layer base {
	@font-face {
		font-family: 'DM Sans';
		src: url('$lib/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
	}
}

h1 {
	@apply font-serif text-4xl font-bold tracking-wide;
}

h2 {
	@apply font-serif text-2xl font-medium tracking-wide;
}

h3 {
	@apply font-serif text-lg font-normal;
}

p {
	@apply font-sans text-lg font-normal;
}

h2 {
	@apply text-text-accent mb-4 text-2xl font-semibold;
}
